*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul {
  list-style: none;
}

body {
  background-color: #0e2e4e;
}

button:hover {
  transform: scale(1.1);
  color: rgb(0, 0, 0);
}
